<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usuarios/styles.css' %}">
    <meta charset="UTF-8">
    <title>Realizar compra</title>
</head>
<body>

<div class="container">
    <h2>Realizar compra</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comprar</button>
    </form>

    <a class="secondary" href="{% url 'usuarios:perfil' %}">Volver al perfil</a>
</div>

</body>
</html>