<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usuarios/styles2.css' %}">
</head>
<body>

<div class="container">
    <h2>Iniciar sesión</h2>

    {% if form.errors %}
        <div class="error">
            <p>Usuario o contraseña incorrectos.</p>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit">Entrar</button>
    </form>

    <a class="secondary" href="{% url 'usuarios:registro' %}">Registrar cuenta</a>
</div>

</body>
</html>