<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usuarios/styles.css' %}">
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

<div class="container">
    <h2>Productos</h2>

    <ul>
        {% for p in productos %}
            <li>{{ p.nombre }} - ${{ p.costo }} ({{ p.categoria }})</li>
        {% empty %}
            <li>No hay productos registrados.</li>
        {% endfor %}
    </ul>

    {% if request.user.is_staff %}
        <a class="secondary" href="{% url 'usuarios:crear_producto' %}">
            Crear producto
        </a>
    {% endif %}
</div>

</body>
</html>